<div>
  <h1> Hello Dashboard </h1>

  <form action="/<%=@user_id%>/dashboard" method="post">
    <ul>
      <% @all_decks.each do |deck| %>
      <li><input type="radio" name="decks" value="<%= deck.id %>"> <%= deck.name %></input></li> 
      <%end%>
    </ul>
    <br>
    <input type="submit" value="Start Flooding!"> 
  </form>

</div>
