<div class="container">
  <h1>You are currently playing <%= deck.name =></h1>


  <p><%= card.question =></p>
  <form method='post' action='/game'>
    Answer: <input name="guess"><br>
    <br>
    <button>Submit Answer</button>
    <br>
  </form>

</div>
