<div class="container">
  <div class="jumbotron">
    <h1>FlashFlood</h1>
    <p>Answer a bunch of pointless questions and keep track of how well you're
      doing.</p>
    <p><a class="btn btn-primary btn-lg" href="/sign_up">Try it now</a></p>
  </div>
</div>
