<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/application.css">


  <title></title>
</head>

<body>
  <div class="container">
    <div class="navbar">
      <a class="navbar-brand" href="/">FlashFlood</a>
      <% if current_user %>
        <p class="navbar-text pull-right"><a href="/sign_out">Sign Out</a></p>
      <% else %>
      <p class="navbar-text pull-right"><a href="/sign_in">Sign In</a></p>
      <!-- TODO: show signed in state -->
      <% end %>
    </div>

    <%= yield %>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
