<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/application.css">



  <title></title>
</head>

<body>
  <div class="container">
    <div class="navbar">
      <a class="navbar-brand" href="#">FlashFlood</a>
      <ul class="nav navbar-nav">
        <li><a href="/sign_in">Sign In</a></li>
        <li><a href="/sign_up">Sign Up</a></li>
        <!-- status bar -->
      </ul>
    </div>

    <%= yield %>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
