<div class="container">
  <div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Sign in</div>
        <form action="/sign_in" method="post">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control"><br>
          <label for="username">Password</label>
          <input type="password" name="password" class="form-control"><br>
          <input class="btn" type="submit" value="Sign in">
        </form>
        <br>
        <a href="/sign_up">Don't have an account?</a>
      </div>
    </div>
  </div>

</div>
