<div class="container">
  <h1>Thanks for flooding <%= @deck.name %>!</h1>
  <br>
  <h2>Summary Statistics:<h2>
  <p>Correct: <%= @round.num_correct %> </p>
  <p>Incorrect: <%= @round.num_incorrect %> </p>
</div>
